@font-face{
  font-family: 'Sunrise International Demo';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Sunrise-International.eot');
  src: url('../fonts/Sunrise-International.ttf') format('truetype'),
       url('../fonts/Sunrise-International.woff') format('woff'),
       url('../fonts/Sunrise-International.woff2') format('woff2');
}
